.trayectoria-carousel {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  
  .carousel-window {
width: 720px;
  height: 260px;
  overflow: hidden;
  border-radius: 12px;
  background: #fff;
  }
  
  .carousel-track {
    display: flex;
    transition: transform 0.6s cubic-bezier(.25,.8,.25,1);
    gap: 20px;
  }
  
  .carousel-track img {
    width: 50%;
  height: 260px;
  object-fit: cover;
  border-radius: 12px;
  flex-shrink: 0;
  box-shadow: 0 20px 40px rgba(0,0,0,0.25);
  }
  .arrow {
    font-size: 40px;
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
  }


.historia-conatainer{
    margin-top: 50px;
}


/*TABLET*/


@media (max-width: 1024px){

  .trayectoria-carousel{
    gap: 25px;
  }

  .carousel-window{
    width: 600px;
    height: 240px;
  }

  .carousel-track img{
    width: 290px;
    height: 240px;
  }

}


/*MOBILE*/

@media (max-width: 768px){

  .trayectoria-carousel{
    flex-direction: column;
    gap: 20px;
  }

  .carousel-window{
    width: 100%;
    max-width: 340px;
    height: 220px;
  }

  .carousel-track img{
    width: 100%;
    max-width: 340px;
    height: 220px;
  }

  .arrow{
    font-size: 32px;
  }

}

  